
header{
  display:flex;
gap:50px
}

.logo {
  width:20%;
}

.nav {
  width:80%;
  background-color: #807f82;
  font-size: calc(10px + 2vmin);
  

}
ul{
  list-style-type: none;
  display: flex;
justify-content: space-around;
}
a{
  text-decoration: none;
}



footer{
  background-color: aliceblue;
  padding:25px;
  margin-top:100px;
  display:flex;
  justify-content: space-around;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
